html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color:white;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
}

.item {
/* We center the contents of these items. You can also do this with flexbox too! */
display: grid;
justify-content: center;
align-items: center;
border: 5px solid rgba(0, 0, 0, 0.03);
border-radius: 3px;
font-size: 35px;
background-color: var(--yellow); /* best colour */
}

span {
justify-content: center;
align-content: center;
}

.item1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  grid-auto-flow: column;


}

.pink {
  font-weight: 500;
  color: #fba0e3;
  text-shadow: 2px 2px 10px #fff, 0 0 50px #fba0e3;
}

.item2 {
justify-items: center;
align-items: center;
}

.circle {

align-self: start;
border: 2px solid white;
border-radius: 50%;
margin-top: 60px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  font-size: 80px; 
}

#playButton {
  display: block;
}

#stopButton {
  display: none;
}

.item3 {
justify-items: center;
align-items: center;
align-self: start;
}

.time {
font-family: "Roboto Mono",sans-serif;
font-weight: 300;
font-size: 48px;
justify-items: center;
align-items: center;
}

.item4 {
display: grid;
grid-template-columns: repeat (10, 1fr );
grid-template-rows: repeat (2,1fr);
}


.lanterne {
background-color: #fba0e3;
border: solid 1px white;
border-radius: 50%;
height: 50px;
width: 50px;
margin: 10px;
font-size: 20px;
}

.item5 {
display: grid;
grid-template-columns: auto;
grid-template-rows: repeat (2,1fr);
justify-items: center;
align-items: center;
}

.average {
font-family: "Roboto Mono",sans-serif;
font-weight: 300;
font-size: 36px;
}

.time_avg {
font-family: "Roboto Mono",sans-serif;
font-weight: 300;
font-size: 36px;
}